<div
  class="gridContainer"
  (click)="goToLandingPage($event)"
  [class.categorySelected]="colors.layout()"
>
  @if (!colors.layout()) {
  <router-outlet></router-outlet>
  }

  <div
    aria-live="polite"
    [style.background]="colors.layout()"
    [style.color]="categoryTxtColor"
    [style.display]="colors.layout() ? 'block' : 'flex'"
    class="titleCont"
    [class.titleCont--expanded]="colors.layout()"
  >
    @if (!colors.layout()) {
    <h1>
      <span aria-hidden="true">🌎</span>
      <span>TRIVIA</span>
      <span> QUIZ</span>
      <span aria-hidden="true">🧠</span>
    </h1>
    }@else {
    <router-outlet></router-outlet>

    }
  </div>
</div>
