.gridContainer {
  display: grid;
  grid-template-areas:
    "histry     geo        sports  sports"
    "food       TITLE      TITLE   genrl"
    "entrtnmnt  entrtnmnt  edit    genrl ";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  height: 100vh;
  padding: 0.5rem;
  overflow: hidden;
  transition: all 1s;

  view-transition-name: gridRows;
}

.categorySelected {
  animation: changeGridRows 1s;
  grid-template-rows: 1fr 14fr 1fr;
}

.categorySelected a {
  opacity: 0;
}

.categoryLink span {
  background: rgb(92, 16, 11);
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  transition: opacity 0.2s;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.categoryLink {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  transition: 1s all;
}
.categoryLink:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 1rem 1rem 1rem rgba(255, 124, 64, 0.288);
}
.categoryLink:hover span {
  opacity: 0;
}
.categoryLink:hover img,
.categoryLink:hover svg {
  filter: none;
  opacity: 1;
}

img,
svg {
  filter: blur(5px);
  opacity: 0.4;
}

.geographyLink {
  grid-area: geo;
}
.sportsLink {
  grid-area: sports;
}
.generalCatgryLink {
  grid-area: genrl;
}
.generalCatgryLink span {
  color: rgb(0, 0, 0);
}
.historyLink {
  grid-area: histry;
}
.foodLink {
  grid-area: food;
}
.customLink {
  grid-area: edit;
  background: darkred;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customLink svg {
  width: 10rem;
  height: 10rem;
  position: absolute;
}

.entertainmentLink {
  grid-area: entrtnmnt;
}
.entertainmentLink p {
  color: black;
}
.entertainmentLink img {
  object-position: 0 -24rem;
}

.titleCont {
  min-width: 55vw;
  min-height: 48vh;
  grid-area: TITLE;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #0000;
  background: linear-gradient(darkred) padding-box,
    linear-gradient(var(--angle), darkred, rgb(255, 163, 163)) border-box;
  animation: 5s rotate linear infinite;
  transition: 1s ease-in-out;

  border-radius: 2rem;
  color: rgb(255, 158, 128);
}

.titleCont h1 {
  font-size: 5rem;
}

.hideCategory img:last-of-type,
.hideCategory svg {
  opacity: 0;
  transition: 0.5s;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


