<div
  class="gridContainer"
  (click)="goToLandingPage($event)"
  [class.categorySelected]="categoryBgColor"
>
  @if (!categoryBgColor) { @for (item of categories; track $index) {
  <a
    (click)="categoryTransition(item.name)"
    [routerLink]="'/' + item.name"
    [class]="[
      item.anchorClassName,
      'categoryLink',
      categoryBgColor ? 'hideCategory' : ''
    ]"
  >
    <span [style.background]="categoryColors[item.name]">{{
      item.name | titlecase
    }}</span>

    @if (item.name === 'custom') {
    <svg class="categoryLink_icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        clip-rule="evenodd"
        fill="#ffbdbd"
        fill-rule="evenodd"
        [attr.d]="item.iconSource"
      />
    </svg>
    } @else {
    <img class="categoryLink_icon" src="{{ item.iconSource }}" alt="" />
    }
  </a>
  }}

  <div
    [style.background]="categoryBgColor"
    [style.color]="categoryTxtColor"
    [style.display]="categoryBgColor ? 'block' : 'flex'"
    class="titleCont"
  >
    @if (!categoryBgColor) {
    <h1>🌎TRIVIA QUIZ🧠</h1>
    }
    <router-outlet></router-outlet>
  </div>
</div>
