<div class="questionForm">
  <div class="optionsCont">
    <app-trivia-option
      link="/custom/create"
      value="Create"
      [bgImgCss]="{ class: '', imgSrc: 'url(/optionsImgs/customImgs/create.webp)' }"
    />

    @if (!triviaCreated.length) {

    <app-trivia-option
      value="You don't have any trivia created"
      valueCssClass="optValue--disabled"
      [bgImgCss]="{
        class: ' bgImg--disabled',
        imgSrc: ' url(/optionsImgs/customImgs/custom1.webp)'
      }"
    />

    } @else { @for (item of triviaCreated; track $index) {

    <app-trivia-option
      [value]="item"
      (clickRemoveBtn)="removeTrivia(item)"
      [link]="['/custom/play/', item]"
      [bgImgCss]="{
        class: '',
        imgSrc: 'url(/optionsImgs/customImgs/custom' + ($index + 1) + '.webp)'
      }"
    />
    } }
  </div>
</div>
