:root {
  --titleFntSize: clamp(1.4rem, 7vw, 2.8rem);
  --btnBgColor: #fdb575;
  --btnShadowColor: #c64242;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

input[type="radio"] {
  appearance: none;
}

body {
  background-color: rgb(31, 3, 3);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes changeGridRows {
  from {
    grid-template-rows: 1fr 1fr 1fr;
  }
  to {
    grid-template-rows: 1fr 14fr 1fr;
  }
}

::view-transition-old(gridRows),
::view-transition-new(gridRows) {
  animation-duration: 0.5s;
}

.questionForm {
  padding: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
}

.questionForm fieldset {
  width: 100%;
}

.optionsCont {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  width: 100%;
  overflow-y: auto;
}

button {
  padding: 0.7rem;
  border-radius: 1rem;
  border: 0.2rem solid #d48484;
  box-shadow: inset -0.2rem -0.2rem 0.2rem var(--btnShadowColor);
  background: var(--btnBgColor);
  line-height: 1;
}

button:hover {
  background-color: var(--btnShadowColor);
  color: white;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  box-shadow: none;
  background: var(--btnBgColor);
  color: gray;
  cursor: default;
}

app-trivia-option {
  display: flex;
  flex: 1;
}
app-home {
  display: contents;
}

.dialogBtn,
.dialogBtn:hover {
  font-size: clamp(1rem, 5vw, 1.5rem);
  background-color: orange;
  color: black;
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

.categorySVG {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  fill: white;
}

@media (width < 700px) {
  .categorySVG {
    margin: 0;
  }
}
