<app-wave #waveComponentRef />

<form class="questionForm" [ariaHidden]="isTriviaFinished || isTimeUp" (click)="nextQuestion()">
  <fieldset>
    <legend>
      {{ quizInfo[currentQuestionIdx].question | titlecase}}
      <span [ariaLabel]=" 'Question '+(currentQuestionIdx + 1)+' of '+ quizInfo.length ">({{ currentQuestionIdx + 1 }}/{{ quizInfo.length }})</span>
    </legend>

    <div class="optionsCont">
      @for (item of quizInfo[currentQuestionIdx].options; track $index) {
      <app-trivia-option
        [value]="item.value"
        (inputClick)="validateAnswer($index, item.isCorrect, $event)"
        [bgImgCss]="{
          class: {
            wrongAnswer: !item.isCorrect && isShowingAnswers,
            correctAnswer: item.isCorrect && isShowingAnswers,
            selectedOption: $index == selectedOptionIdx
          },
          imgSrc: isShowingAnswers ? '' : 'url(' + item.imgSrc + ')'
        }"
      />

      }
    </div>
  </fieldset>
</form>

<app-dialog [isOpen]="isTriviaFinished" [text]="resultMessage">
  <a routerLink="/" class="dialogBtn">Go to Menu</a>
  <button class="dialogBtn" (click)="resetTrivia()">Retry</button>
</app-dialog>

<app-dialog
  [isOpen]="isTimeUp"
  text="You drowned in uncertainty. Next time, think faster"
>
  <a routerLink="/" class="dialogBtn">Change category</a>
  <button class="dialogBtn" (click)="resetTrivia()">Try Again</button>
</app-dialog>
